* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}

.fly-in-text li {
    display: inline-block;
    margin-right: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    font-size: 4em;
    color: white;
    opacity: 1;
    transition: all 2.5s ease;
}

.fly-in-text li:last-child {
    margin-right: 0;
}

.fly-in-text.hidden li {
    opacity: 0;
}

/* Randomizing starting positions of letters to fly into place */
.fly-in-text.hidden li:nth-child(1) { 
    transform: translateX(-20px) translateY(-30px);
    -webkit-transform: translateX(-200vw) translateY(-30px);
    -ms-transform: translateX(-20px) translateY(-30px);
}

.fly-in-text.hidden li:nth-child(2) { 
    transform: translateX(150px) translateY(175px);
    -webkit-transform: translateX(150px) translateY(175px);
    -ms-transform: translateX(150px) translateY(175px);
}

.fly-in-text.hidden li:nth-child(3) { 
    transform: translateX(-100px) translateY(-50px);
    -webkit-transform: translateX(-100px) translateY(-50px);
    -ms-transform: translateX(-100px) translateY(-50px);
}

.fly-in-text.hidden li:nth-child(4) { 
    transform: translateX(100px) translateY(100px);
    -webkit-transform: translateX(100px) translateY(100px);
    -ms-transform: translateX(100px) translateY(100px);
}

.fly-in-text.hidden li:nth-child(5) { 
    transform: translateX(-150px) translateY(50px);
    -webkit-transform: translateX(-150px) translateY(50px);
    -ms-transform: translateX(-150px) translateY(50px);
}

.fly-in-text.hidden li:nth-child(6) { 
    transform: translateX(20px) translateY(-200px);
    -webkit-transform: translateX(20px) translateY(-200px);
    -ms-transform: translateX(20px) translateY(-200px);
}

.fly-in-text.hidden li:nth-child(7) { 
    transform: translateX(-200px) translateY(-30px);
    -webkit-transform: translateX(-200px) translateY(-30px);
    -ms-transform: translateX(-200px) translateY(-30px);
}

.fly-in-text.hidden li:nth-child(8) { 
    transform: translateX(150px) translateY(175px);
    -webkit-transform: translateX(150px) translateY(175px);
    -ms-transform: translateX(150px) translateY(175px);
}

.fly-in-text.hidden li:nth-child(9) { 
    transform: translateX(-100px) translateY(-50px);
    -webkit-transform: translateX(-100px) translateY(-50px);
    -ms-transform: translateX(-100px) translateY(-50px);
}

.fly-in-text.hidden li:nth-child(10) { 
    transform: translateX(20px) translateY(-200px);
    -webkit-transform: translateX(20px) translateY(-200px);
    -ms-transform: translateX(20px) translateY(-200px);
}
